@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    height: 100px;
    background-color: #c48e47;
    padding: 0 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

header a{
    padding-bottom: 20px;
}

.menu .inicio{
    color: white;
    text-shadow: 2px 2px black;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu ul li a{
    color: black;
    font-weight: 700;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.233);
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order:1;
}

.menu a:hover,
.mostrar-menu:hover
.esconder-menu:hover{
    color: white;
}

#check{
    display: none;
}

main{
    background-color: #222222;
    grid-area: main;
}

footer{
    background-color: black;
    grid-area: footer;
}

.footer-1 .iconos-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
}

/* INICIO */

.grid-index{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 800px 70px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

.banner{
    background-image: url(../assets/img/fondo.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
}

.banner .isotipo img{
    width: 450px;
    height: 450px;
}

h1{
    color: white;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
    font-size: 40px;
    align-self: center;
    padding-bottom: 20px;
    font-family: 'Bree Serif', serif;
}

.leer-mas-inicio a{
    padding: 18px 60px;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 40px;
    background-color: #c48e47;
    text-decoration: none;
    color: black;
}

.isotipo{
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
}

.leer-mas-inicio{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    justify-self: center;
    align-self: center;
}

@media(max-width:1176px){
    .leer-mas-inicio{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 6;
        justify-self: center;
        align-self: center;
    }
}

@media(max-width:1024px){
    .grid-index{
        grid-template-rows: 100px 650px 70px;
    }

    .banner{
        background-image: url(../assets/img/fondo.png);
        width: 100%;
        height: 650px;
        background-repeat: no-repeat;
        background-position-y: bottom;

    }
    
    .leer-mas-inicio{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 6;
        justify-self: center;
        align-self: center;
        padding-top: 50px;
    }

    .isotipo{
        padding-right: 20px;
    }

    .banner .isotipo img{
        width: 380px;
        height: 380px;
    }
}

@media(max-width:768px){
    header{
        padding-top: 0;
    }

    .logo{
        padding-top: 20px;
    }

    .grid-index{
        grid-template-rows: 100px 950px 70px;
    }

    .banner{
        background-image: url(../assets/img/fondo.png);
        width: 100%;
        height: 950px;
        background-repeat: no-repeat;
    }
    
    .isotipo{
        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 6;
        justify-self: center;
        align-self: center;
        padding-right: 20px;
    }

    h1{
        font-size: 40px;
        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 6;
        grid-row-end: 7;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .leer-mas-inicio{
        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 7;
        grid-row-end: 8;
        justify-self: center;
        align-self: center;
    }

}

@media(max-width: 480px){
    header{
        padding-bottom: 30px;
    }
    
    .grid-index{
        grid-template-rows: 100px 900px 70px;
    }

    .banner{
        background-image: url(../assets/img/fondo.png);
        width: 100%;
        height: 900px;
        background-repeat: no-repeat;
        background-position-y: bottom;
    }

    .isotipo{
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 2;
        grid-row-end: 5;
        justify-self: center;
        align-self: center;
    }

    h1{
        font-size: 40px;
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 5;
        grid-row-end: 7;
        padding-bottom: 50px;
    }

    .leer-mas-inicio{
        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 6;
        grid-row-end: 7;
        justify-self: center;
        align-self: center;
        padding-top: 50px;
    }

    .footer-1 .iconos-footer{
        padding-top: 20px;
    }

}

@media(max-width: 320px){
    
    .grid-index{
        grid-template-rows: 100px 900px 70px;
    }

    .banner{
        height: 900px;
    }

    .banner .isotipo img{
        width: 280px;
        height: 280px;
    }

    .isotipo{
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 2;
        grid-row-end: 6;
    }

    h1{
        font-size: 25px;
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .leer-mas-inicio{
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 6;
        grid-row-end: 7;
        justify-self: center;
        align-self: center;
    }

    .leer-mas-inicio a{
        font-size: 16px;
        padding: 18px 40px;
    }
}


/* SERVICIOS */

.container-servicios {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    padding-left: 40px;
    padding-top: 20px;
    grid-auto-flow: row;
    grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6"
    ". . .";
}
.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }


.h1-servicios{
    padding: 40px 0 10px 50px;
    color: white;
    display: flex;
    justify-self: center;
}

.container-servicios .cards{
    width: 350px;
    height: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container-servicios .cards img{
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

.container-servicios .cards h3{
    color: #C48E47;
    padding-top: 30px;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}

.container-servicios .cards p{
    font-size: 16px;
    padding: 20px;
    color: white;
}

.container-servicios .cards input{
    padding: 18px 30px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    background-color: #c48e47;
    margin-bottom: 20px;
}

@media(max-width:1024px){
    .h1-servicios{
        padding: 40px 0 10px 50px;
        color: white;
        font-size: 30px;
    }
    
    .container-servicios .cards{
        width: 250px;
        height: 620px;
        border-radius: 8px;
    }
    
    .container-servicios .cards img{
        width: 220px;
        height: 150px;
    }

    .container-servicios .cards input{
        padding: 15px 25px;
    }
}

@media(max-width:768px){
    .container-servicios {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 10px;
        padding-top: 20px;
        grid-auto-flow: row;
        grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item6";
    }
    .item1 { grid-area: item1; }
    .item2 { grid-area: item2; }
    .item3 { grid-area: item3; }
    .item4 { grid-area: item4; }
    .item5 { grid-area: item5; }
    .item6 { grid-area: item6; }

    .h1-servicios{
        padding: 50px 0 50px 50px;
    }

    .container-servicios .cards{
        width: 280px;
        height: 550px;
        margin: 5px;
        padding-bottom: 20px;
    }

    .container-servicios .cards img{
        width: 200px;
        height: 120px;
    }
}

@media(max-width:480px){
    header{
        padding-top: 20px;
    }
    
    header label img{
        width: 30px;
        height: 30px;
    }

    header .logo img{
        width: 200px;
        height: 30px;
    }
    
    .container-servicios {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item6";
    }
    .item1 { grid-area: item1; }
    .item2 { grid-area: item2; }
    .item3 { grid-area: item3; }
    .item4 { grid-area: item4; }
    .item5 { grid-area: item5; }
    .item6 { grid-area: item6; }

    .container-servicios .cards{
        width: 170px;
        height: 570px;
        padding-top: 20px;
    }

    .container-servicios .cards img{
        width: 150px;
        height: 100px;
    }

    .container-servicios .cards h3{
        font-size: 18px;
    }
    
    .container-servicios .cards p{
        font-size: 12px;
    }

    .container-servicios .cards input{
        padding: 10px 20px;
        font-size: 12px;
    }

    .footer-1 .iconos-footer img{
        width: 30px;
        height: 30px;
    }

    .footer-1 .iconos-footer{
        padding-bottom: 20px;
    }
}

@media(max-width:320px){
    header label img{
        width: 20px;
        height: 20px;
    }

    header .logo img{
        width: 170px;
        height: 25px;
    }

    .container-servicios {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        ;
    }
    .item1 { grid-area: item1; }
    .item2 { grid-area: item2; }
    .item3 { grid-area: item3; }
    .item4 { grid-area: item4; }
    .item5 { grid-area: item5; }
    .item6 { grid-area: item6; }
    
    .h1-servicios{
        font-size: 25px;
        padding-left: 55px;
    }

    .container-servicios .cards{
        width: 230px;
        height: 440px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .container-servicios .cards img{
        width: 200px;
        height: 150px;
    }

    .container-servicios .cards h3{
        font-size: 14px;
    }
    
    .container-servicios .cards p{
        font-size: 10px;
    }

    .container-servicios .cards input{
        padding: 10px 20px;
        font-size: 10px;
    }

    .footer-1 .iconos-footer img{
        width: 20px;
        height: 20px;
    }

    .footer-1 .iconos-footer{
        gap: 10px;
    }
}




/* NOSOTROS */

.grid-nosotros{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1300px 70px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

.container{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "area-1 area-1 area-2"
    ". area-3 area-3"
    "area-4 area-4 .";
}

.container h2{
    font-size: 30px;
    font-family: 'Bree Serif', serif;
}

.area-1{ 
    grid-area: area-1;
    color: white;
    align-self: center;
    padding-top: 50px;
}

.area-1 p{
    font-size: 18px;
    padding-top: 20px;
    text-align: justify;
}

.area-2{ 
    grid-area: area-2;
}

.area-2 img{
    width: 350px;
    height: 350px;
    margin: 30px;
}

.area-3{ 
    grid-area: area-3;
    color: white;
    align-self: center;
    padding-right: 20px; 
}

.area-3 h2{
    padding-left: 450px;
}

.area-3 p{
    font-size: 18px;
    padding-top: 20px;
    text-align: justify;
}

.area-4{ 
    grid-area: area-4;
    color: white;
    align-self: center;
}

.area-4 p{
    font-size: 18px;
    padding-top: 20px;
    text-align: justify;
}

@media(max-width:1024px){
    .grid-nosotros{
        grid-template-rows: 100px 1600px 70px;
    }

    .area-2{
        align-self: center;
    }
}

@media(max-width:768px){
    .grid-nosotros{
        grid-template-rows: 100px 1900px 70px;
    }
    
    .container{  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 600px 500px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "area-1 area-1 area-2"
        ". area-3 area-3"
        "area-4 area-4 area-4";
    }
    
    .area-1{
        padding-top: 100px;
    }

    .area-2{
        align-self: center;
    }

    .area-3 h2{
        padding-left: 250px;
    }

    .area-4{
        padding-right: 150px;
    }
}

@media(max-width:480px){
    .grid-nosotros{
        grid-template-rows: 100px 2500px 70px;
    }
    
    .container{  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 600px);
        gap: 0px 0px;
        padding-left: 30px;
        padding-right: 40px;
        grid-auto-flow: row;
        grid-template-areas:
        "area-1"
        "area-2"
        "area-3"
        "area-4"
        ;
    }

    .area-1{
        padding: 70px 0 0 0;
    }

    .area-3{
        padding: 0;
    }

    .area-3 h2{
        padding: 0;
    }

    .area-4{
        padding: 100px 0 0 0;
    }

    .footer-1 .iconos-footer{
        padding-top: 20px;
    }

    .footer-1 .iconos-footer img{
        width: 30px;
        height: 30px;
    }
}

@media(max-width:320px){
    header{
        padding-bottom: 20px;
    }

    header label img{
        width: 40px;
        height: 40px;
    }
}


/* CONTACTO */

.grid-contacto{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 800px 70px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

.contenedor{
    padding-left: 30px;
    padding-top: 20px;
}

.contenedor-contacto{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(8, 100px)
}

.contenedor-contacto h1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 35px;
    padding-top: 40px;
}

.contenedor-contacto .telefonos{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.contenedor-contacto .telefonos h3{
    color: #C48E47;
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
}

.contenedor-contacto .telefonos .telefonos-1{
    display: flex;
    color: white;
    padding-top: 20px;
}

.contenedor-contacto .telefonos .telefonos-1 img{
    width: 45px;
    height: 45px;
}

.contenedor-contacto .telefonos .telefonos-1 p{
    padding-top: 15px;
    padding-left: 10px;
}

.contenedor-contacto .redes-sociales{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
}

.contenedor-contacto .redes-sociales h3{
    color: #C48E47;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
}

.contenedor-contacto .redes-sociales .enlaces .facebook a{
    padding: 5px 5px 5px 10px;
    color: white;
    font-weight: 700;
}

.contenedor-contacto .redes-sociales .enlaces .facebook{
    padding-top: 20px;
}

.contenedor-contacto .redes-sociales .enlaces .linkedin a{
    padding: 5px 5px 5px 10px;
    color: white;
    font-weight: 700;
}

.contenedor-contacto .redes-sociales .enlaces .linkedin{
    padding-top: 20px;
}

.contenedor-contacto .redes-sociales .enlaces .instagram a{
    padding: 5px 5px 5px 10px;
    color: white;
    font-weight: 700;
}

.contenedor-contacto .redes-sociales .enlaces .instagram{
    padding-top: 20px;
}

.contenedor-contacto .redes-sociales .enlaces .twitter a{
    padding: 5px;
    color: white;
    font-weight: 700;
}

.contenedor-contacto .redes-sociales .enlaces .twitter{
    padding-top: 20px;
}

.contenedor-contacto .ubicacion{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.contenedor-contacto .ubicacion h3{
    color: #C48E47;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
}

.contenedor-contacto .ubicacion p{
    color: white;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: justify;
}

.contenedor-contacto .ubicacion .mapa iframe{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 20px 20px #C48E47
}

@media(max-width:1024px){
    .contenedor-contacto h1{
        font-size: 30px;
    }

    .contenedor-contacto .ubicacion .mapa iframe{
        width: 300px;
        height: 200px;
    }

    .contenedor-contacto .redes-sociales .enlaces{
        font-size: 14px;
    }
}

@media(max-width:768px){
    .contenedor-contacto h1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-right: 30px
        ;
    }

    .contenedor-contacto .redes-sociales{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 8;
    }

    .contenedor-contacto .redes-sociales h3{
        padding: 23px 0 0 0;
    }
    
    .contenedor-contacto .redes-sociales .enlaces{
        font-size: 10px;
    }

    .contenedor-contacto .ubicacion{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 6;
    }

    .contenedor-contacto .ubicacion h3{
        padding-top: 23px;
    }
}

@media(max-width:480px){
    .grid-contacto{
        grid-template-rows: 100px 900px 70px;
        ;
    }
    
    .contenedor-contacto h1{
        font-size: 25px;
    }

    .contenedor-contacto .telefonos h3{
        font-size: 16px;
    }
    
    .contenedor-contacto .redes-sociales{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 6;
    }

    .contenedor-contacto .redes-sociales img{
        width: 25px;
        height: 25px;
    }

    .contenedor-contacto .redes-sociales a{
        font-size: 6px;
    }

    .contenedor-contacto .redes-sociales h3{
        font-size: 16px;
    }

    .contenedor-contacto .ubicacion{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 9;
    }

    .contenedor-contacto .ubicacion h3{
        padding-top: 50px;
        font-size: 16px;
    }

    .contenedor-contacto .ubicacion .mapa iframe{
        width: 300px;
        height: 200px;
    }

    .contenedor-contacto .ubicacion .mapa{
        padding-left: 50px;
    }
}

@media(max-width:320px){
    .grid-contacto{
        grid-template-rows: 100px 1200px 70px;
        ;
    }
    
    .contenedor-contacto h1{
        font-size: 18px;
    }
    
    .contenedor-contacto .telefonos h3{
        font-size: 16px;
    }

    .contenedor-contacto .telefonos .telefonos-1 img{
        width: 30px;
        height: 30px;
    }

    .contenedor-contacto .telefonos .telefonos-1 p{
        font-size: 12px;
    }

    .contenedor-contacto .redes-sociales{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    .contenedor-contacto .redes-sociales h3{
        font-size: 16px;
    }

    .contenedor-contacto .ubicacion{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 9;
        padding-top: 50px;
    }

    .contenedor-contacto .ubicacion h3{
        font-size: 16px;
    }

    .contenedor-contacto .ubicacion p{
        font-size: 14px;
        padding-right: 30px;
    }

    .contenedor-contacto .ubicacion .mapa iframe{
        width: 220px;
        height: 120px;
    }

    .contenedor-contacto .ubicacion .mapa{
        padding-left: 10px;
    }
}

/* LEER MAS */

.grid-leer-mas{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1200px 70px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

.contenedor-leer-mas{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 30px;
}

.contenedor-leer-mas h1{
    font-size: 35px;
}

.contenedor-leer-mas h2{
    color: #C48E47;
    padding: 50px 0 20px 30px;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
}

.contenedor-leer-mas p{
    color: white;
    text-align: justify;
    padding: 0 30px 50px 30px 
}

@media(max-width:1024px){
    .contenedor-leer-mas{
        padding: 50px 50px;
    }
}

@media(max-width:768px){
    .grid-leer-mas{
        grid-template-rows: 100px 1300px 70px;
        ;
    }
}

@media(max-width:480px){
    .grid-leer-mas{
        grid-template-rows: 100px 1800px 70px;
        ;
    }

    .contenedor-leer-mas h1{
        font-size: 30px;
        padding-top: 20px;
    }
}

@media(max-width:320px){
    .grid-leer-mas{
        grid-template-rows: 100px 2100px 70px;
        ;
    }
    
    .contenedor-leer-mas{
        padding: 10px 10px;
    }

    .contenedor-leer-mas h1{
        font-size: 25px;
        padding-bottom: 20px;
        padding-top: 50px;
    }

    .contenedor-leer-mas h2{
        font-size: 20px;
    }
}

/* MENU RESPONSIVE */

@media(max-width:768px){
    /* HEADER */
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #c48e47;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu ul{
        justify-content: center;
        flex-direction: column;
    }

    .menu a{
        display: block;
        padding: 20px;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu{
        right: 0;
    }
}