@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  background-color: #c48e47;
  padding: 20px 50px 0 50px;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
}
header a {
  padding-bottom: 20px;
}
header .menu .inicio {
  color: white;
  text-shadow: 2px 2px black;
}
header .menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
header .menu ul li a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.233);
}

.mostrar-menu,
.esconder-menu {
  font-size: 1.87rem;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.mostrar-menu {
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover .esconder-menu:hover {
  color: white;
}

#check {
  display: none;
}

.menu .esconder-menu img {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .mostrar-menu,
  .esconder-menu {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #c48e47;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  .menu ul {
    justify-content: center;
    flex-direction: column;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #check:checked ~ .menu {
    right: 0;
  }
}
main {
  background-color: #222222;
  grid-area: main;
}

.grid-index {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 800px 70px;
  grid-template-areas: "header" "main" "footer";
}

.banner {
  background-image: url(../assets/img/fondo.png);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas: none;
}
.banner .isotipo img {
  width: 450px;
  height: 450px;
}
.banner h1 {
  color: white;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
  font-size: 2.5rem;
  align-self: center;
  padding-bottom: 20px;
  font-family: "Bree Serif", serif;
}
.banner .leer-mas-inicio {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  justify-self: center;
  align-self: center;
}
.banner .leer-mas-inicio a {
  padding: 18px 60px;
  border: none;
  font-size: 1.25rem;
  border-radius: 50px;
  margin-top: 40px;
  background-color: #c48e47;
  text-decoration: none;
  color: black;
}
.banner .isotipo {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 4;
  justify-self: center;
}

.container-servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "item1 item2 item3" "item4 item5 item6" ". . .";
  gap: 20px 20px;
  justify-items: center;
  padding: 20px 40px;
  grid-auto-flow: row;
}
.container-servicios .item1 {
  grid-area: item1;
}
.container-servicios .item2 {
  grid-area: item2;
}
.container-servicios .item3 {
  grid-area: item3;
}
.container-servicios .item4 {
  grid-area: item4;
}
.container-servicios .item5 {
  grid-area: item5;
}
.container-servicios .item6 {
  grid-area: item6;
}

.h1-servicios {
  padding: 40px 0 10px 50px;
  color: white;
  display: flex;
  justify-self: center;
}

.container-servicios .cards {
  width: 350px;
  height: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container-servicios .cards img {
  width: 300px;
  height: 200px;
  border-radius: 5%;
}
.container-servicios .cards h3 {
  color: #c48e47;
  padding-top: 30px;
  font-family: "Bree Serif", serif;
  font-size: 1.25rem;
}
.container-servicios .cards p {
  font-size: 1rem;
  padding: 20px;
  color: white;
}
.container-servicios .cards input {
  padding: 18px 30px;
  border: none;
  font-size: 1rem;
  border-radius: 50px;
  background-color: #c48e47;
  margin-bottom: 20px;
}

.grid-nosotros {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1300px 70px;
  grid-template-areas: "header" "main" "footer";
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "area-1 area-1 area-2" ". area-3 area-3" "area-4 area-4 .";
  gap: 0px 0px;
  grid-auto-flow: row;
}
.container h2 {
  font-size: 1.87rem;
  font-family: "Bree Serif", serif;
}
.container .area-1 {
  grid-area: area-1;
  color: white;
  align-self: center;
  padding-top: 50px;
}
.container .area-1 p {
  font-size: 1.12rem;
  padding-top: 20px;
  text-align: justify;
}
.container .area-2 {
  grid-area: area-2;
}
.container .area-2 img {
  width: 350px;
  height: 350px;
  margin: 30px;
}
.container .area-3 {
  grid-area: area-3;
  color: white;
  align-self: center;
  padding-right: 20px;
}
.container .area-3 h2 {
  padding-left: 450px;
}
.container .area-3 p {
  font-size: 1.12rem;
  padding-top: 20px;
  text-align: justify;
}
.container .area-4 {
  grid-area: area-4;
  color: white;
  align-self: center;
}
.container .area-4 p {
  font-size: 1.12rem;
  padding-top: 20px;
  text-align: justify;
}

.grid-contacto {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 800px 70px;
  grid-template-areas: "header" "main" "footer";
}

.contenedor {
  padding-left: 30px;
  padding-top: 20px;
}
.contenedor .contenedor-contacto {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(8, 100px);
  grid-template-areas: none;
}
.contenedor .contenedor-contacto h1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 2.18rem;
  padding-top: 40px;
  color: white;
}
.contenedor .contenedor-contacto .telefonos {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.contenedor .contenedor-contacto .telefonos h3 {
  color: #c48e47;
  padding-top: 20px;
  font-size: 1.56rem;
  font-family: "Bree Serif", serif;
}
.contenedor .contenedor-contacto .telefonos .telefonos-1 {
  display: flex;
  color: white;
  padding-top: 20px;
}
.contenedor .contenedor-contacto .telefonos .telefonos-1 img {
  width: 45px;
  height: 45px;
}
.contenedor .contenedor-contacto .telefonos .telefonos-1 p {
  padding-top: 15px;
  padding-left: 10px;
}
.contenedor .contenedor-contacto .redes-sociales {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
}
.contenedor .contenedor-contacto .redes-sociales h3 {
  color: #c48e47;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 1.56rem;
  font-family: "Bree Serif", serif;
}
.contenedor .contenedor-contacto .redes-sociales .enlaces .facebook {
  padding-top: 20px;
}
.contenedor .contenedor-contacto .redes-sociales .enlaces .facebook a {
  padding: 5px 5px 5px 15px;
  color: white;
  font-weight: 700;
}
.contenedor .contenedor-contacto .redes-sociales .enlaces .linkedin {
  padding-top: 20px;
}
.contenedor .contenedor-contacto .redes-sociales .enlaces .linkedin a {
  padding: 5px 5px 5px 15px;
  color: white;
  font-weight: 700;
}
.contenedor .contenedor-contacto .redes-sociales .enlaces .instagram {
  padding-top: 20px;
}
.contenedor .contenedor-contacto .redes-sociales .enlaces .instagram a {
  padding: 5px 5px 5px 15px;
  color: white;
  font-weight: 700;
}
.contenedor .contenedor-contacto .redes-sociales .enlaces .twitter {
  padding-top: 20px;
}
.contenedor .contenedor-contacto .redes-sociales .enlaces .twitter a {
  padding: 5px 5px 5px 10px;
  color: white;
  font-weight: 700;
}
.contenedor .contenedor-contacto .ubicacion {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.contenedor .contenedor-contacto .ubicacion h3 {
  color: #c48e47;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 1.56rem;
  font-family: "Bree Serif", serif;
}
.contenedor .contenedor-contacto .ubicacion p {
  color: white;
  padding-right: 50px;
  padding-bottom: 50px;
  text-align: justify;
}
.contenedor .contenedor-contacto .ubicacion .mapa iframe {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 20px 20px #c48e47;
}

.grid-leer-mas {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1200px 70px;
  grid-template-areas: "header" "main" "footer";
}

.contenedor-leer-mas {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 30px;
}
.contenedor-leer-mas h1 {
  font-size: 2.18rem;
  color: white;
}
.contenedor-leer-mas h2 {
  color: #c48e47;
  padding: 50px 0 20px 30px;
  font-size: 1.56rem;
  font-family: "Bree Serif", serif;
}
.contenedor-leer-mas p {
  color: white;
  text-align: justify;
  padding: 0 30px 50px 30px;
}

@media (max-width: 1024px) {
  .grid-index {
    grid-template-rows: 100px 650px 70px;
  }
  .banner {
    background-image: url(../assets/img/fondo.png);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
  .banner .leer-mas-inicio {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
    justify-self: center;
    align-self: center;
    padding-top: 50px;
  }
  .banner .isotipo {
    padding-right: 20px;
  }
  .banner .isotipo img {
    width: 380px;
    height: 380px;
  }
}
@media (max-width: 1024px) {
  .h1-servicios {
    padding: 40px 0 10px 50px;
    color: white;
    font-size: 1.87rem;
  }
  .container-servicios .cards {
    width: 250px;
    height: 620px;
    border-radius: 8px;
  }
  .container-servicios .cards img {
    width: 220px;
    height: 150px;
  }
  .container-servicios .cards input {
    padding: 15px 25px;
  }
}
@media (max-width: 1024px) {
  .grid-nosotros {
    grid-template-rows: 100px 1600px 70px;
  }
  .container .area-2 {
    align-self: center;
  }
  .container .area-3 h2 {
    padding-left: 330px;
  }
}
@media (max-width: 1024px) {
  .contenedor .contenedor-contacto h1 {
    font-size: 1.87rem;
  }
  .contenedor .contenedor-contacto .ubicacion .mapa iframe {
    width: 300px;
    height: 200px;
  }
  .contenedor .contenedor-contacto .redes-sociales .enlaces {
    font-size: 0.87rem;
  }
}
@media (max-width: 1024px) {
  .contenedor-leer-mas {
    padding: 50px 50px;
  }
}
@media (max-width: 768px) {
  .grid-index {
    grid-template-rows: 100px 950px 70px;
  }
  .grid-index header {
    padding-top: 0;
  }
  .grid-index header .logo {
    padding-top: 20px;
  }
  .banner {
    background-image: url(../assets/img/fondo.png);
    width: 100%;
    height: 950px;
    background-repeat: no-repeat;
  }
  .banner .isotipo {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 6;
    justify-self: center;
    align-self: center;
    padding-right: 20px;
  }
  .banner h1 {
    font-size: 2.5rem;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 7;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .banner .leer-mas-inicio {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 8;
    justify-self: center;
    align-self: center;
  }
}
@media (max-width: 768px) {
  .grid-servicios header .mostrar-menu img {
    padding-bottom: 20px;
  }
  .h1-servicios {
    padding: 50px 0 50px 50px;
  }
  .container-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6";
    gap: 10px 10px;
    justify-items: center;
    grid-auto-flow: row;
  }
  .container-servicios .item1 {
    grid-area: item1;
  }
  .container-servicios .item2 {
    grid-area: item2;
  }
  .container-servicios .item3 {
    grid-area: item3;
  }
  .container-servicios .item4 {
    grid-area: item4;
  }
  .container-servicios .item5 {
    grid-area: item5;
  }
  .container-servicios .item6 {
    grid-area: item6;
  }
  .container-servicios .cards {
    width: 280px;
    height: 550px;
    margin: 5px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .container-servicios .cards img {
    width: 200px;
    height: 120px;
  }
}
@media (max-width: 768px) {
  .grid-nosotros {
    grid-template-rows: 100px 1800px 70px;
  }
  .grid-nosotros header .mostrar-menu img {
    padding-bottom: 20px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 500px 500px;
    grid-template-areas: "area-1 area-1 area-2" ". area-3 area-3" "area-4 area-4 area-4";
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  .container .area-1 {
    padding-top: 100px;
  }
  .container .area-2 {
    align-self: center;
  }
  .container .area-3 h2 {
    padding-left: 250px;
  }
  .container .area-4 {
    padding-right: 150px;
  }
}
@media (max-width: 768px) {
  .grid-contacto header .mostrar-menu img {
    padding-bottom: 20px;
  }
  .grid-contacto .contenedor-contacto h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-right: 30px;
  }
  .grid-contacto .contenedor-contacto .redes-sociales {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 8;
  }
  .grid-contacto .contenedor-contacto .redes-sociales h3 {
    padding: 23px 0 0 0;
  }
  .grid-contacto .contenedor-contacto .redes-sociales .enlaces {
    font-size: 0.62rem;
  }
  .grid-contacto .contenedor-contacto .ubicacion {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
  }
  .grid-contacto .contenedor-contacto .ubicacion h3 {
    padding-top: 23px;
  }
}
@media (max-width: 768px) {
  .grid-leer-mas {
    grid-template-rows: 100px 1300px 70px;
  }
  .grid-leer-mas header .mostrar-menu img {
    padding-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .grid-index {
    grid-template-rows: 100px 900px 70px;
  }
  .grid-index header .logo img {
    width: 200px;
    height: 30px;
  }
  .grid-index .banner {
    background-image: url(../assets/img/fondo.png);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
  .grid-index .banner .isotipo {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 5;
    justify-self: center;
    align-self: center;
  }
  .grid-index .banner h1 {
    font-size: 2.18rem;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 7;
    padding-bottom: 50px;
  }
  .grid-index .banner .leer-mas-inicio {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 7;
    justify-self: center;
    align-self: center;
    padding-top: 50px;
  }
  .grid-index footer .iconos-footer {
    padding-top: 20px;
  }
  .grid-index footer .iconos-footer img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  .grid-servicios header {
    padding-top: 20px;
  }
  .grid-servicios header .logo img {
    width: 200px;
    height: 30px;
  }
  .grid-servicios .container-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6";
    gap: 10px 10px;
    grid-auto-flow: row;
  }
  .grid-servicios .container-servicios .item1 {
    grid-area: item1;
  }
  .grid-servicios .container-servicios .item2 {
    grid-area: item2;
  }
  .grid-servicios .container-servicios .item3 {
    grid-area: item3;
  }
  .grid-servicios .container-servicios .item4 {
    grid-area: item4;
  }
  .grid-servicios .container-servicios .item5 {
    grid-area: item5;
  }
  .grid-servicios .container-servicios .item6 {
    grid-area: item6;
  }
  .grid-servicios .container-servicios .cards {
    width: 170px;
    height: 570px;
    padding-top: 20px;
  }
  .grid-servicios .container-servicios .cards img {
    width: 150px;
    height: 100px;
  }
  .grid-servicios .container-servicios .cards h3 {
    font-size: 1.12rem;
  }
  .grid-servicios .container-servicios .cards p {
    font-size: 0.75rem;
  }
  .grid-servicios .container-servicios .cards input {
    padding: 10px 20px;
    font-size: 0.75rem;
  }
  .grid-servicios footer .iconos-footer {
    padding-top: 20px;
  }
  .grid-servicios footer .iconos-footer img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  .grid-nosotros {
    grid-template-rows: 100px 2300px 70px;
  }
  .grid-nosotros header {
    padding-top: 20px;
  }
  .grid-nosotros header .logo img {
    width: 200px;
    height: 30px;
  }
  .grid-nosotros .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 500px);
    grid-template-areas: "area-1" "area-2" "area-3" "area-4";
    gap: 0px 0px;
    padding-left: 30px;
    padding-right: 40px;
    grid-auto-flow: row;
  }
  .grid-nosotros .container .area-1 {
    padding: 70px 0 0 0;
  }
  .grid-nosotros .container .area-3 {
    padding: 0;
  }
  .grid-nosotros .container .area-3 h2 {
    padding: 0;
  }
  .grid-nosotros .container .area-4 {
    padding: 100px 0 0 0;
  }
  .grid-nosotros footer .iconos-footer {
    padding-top: 20px;
  }
  .grid-nosotros footer .iconos-footer img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  .grid-contacto {
    grid-template-rows: 100px 900px 70px;
  }
  .grid-contacto header {
    padding-top: 20px;
  }
  .grid-contacto header .logo img {
    width: 200px;
    height: 30px;
  }
  .grid-contacto .contenedor-contacto h1 {
    font-size: 1.56rem;
  }
  .grid-contacto .contenedor-contacto .telefonos h3 {
    font-size: 1rem;
  }
  .grid-contacto .contenedor-contacto .telefonos .telefonos-1 img {
    width: 30px;
    height: 30px;
  }
  .grid-contacto .contenedor-contacto .redes-sociales {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
  }
  .grid-contacto .contenedor-contacto .redes-sociales img {
    width: 25px;
    height: 25px;
  }
  .grid-contacto .contenedor-contacto .redes-sociales a {
    font-size: 0.37rem;
  }
  .grid-contacto .contenedor-contacto .redes-sociales h3 {
    font-size: 1rem;
  }
  .grid-contacto .contenedor-contacto .ubicacion {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 9;
  }
  .grid-contacto .contenedor-contacto .ubicacion h3 {
    padding-top: 50px;
    font-size: 1rem;
  }
  .grid-contacto .contenedor-contacto .ubicacion .mapa {
    padding-left: 50px;
  }
  .grid-contacto .contenedor-contacto .ubicacion .mapa iframe {
    width: 300px;
    height: 200px;
  }
  .grid-contacto footer .iconos-footer {
    padding-top: 20px;
  }
  .grid-contacto footer .iconos-footer img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  .grid-leer-mas {
    grid-template-rows: 100px 1800px 70px;
  }
  .grid-leer-mas header {
    padding-top: 20px;
  }
  .grid-leer-mas header .logo img {
    width: 200px;
    height: 30px;
  }
  .grid-leer-mas .contenedor-leer-mas h1 {
    font-size: 1.87rem;
    padding-top: 20px;
  }
  .grid-leer-mas footer .iconos-footer {
    padding-top: 20px;
  }
  .grid-leer-mas footer .iconos-footer img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 320px) {
  .grid-index {
    grid-template-rows: 100px 900px 70px;
  }
  .grid-index header .mostrar-menu img {
    width: 40px;
    height: 40px;
  }
  .grid-index header .logo img {
    width: 165px;
    height: 25px;
  }
  .grid-index .banner {
    height: 900px;
  }
  .grid-index .banner .isotipo {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 6;
  }
  .grid-index .banner .isotipo img {
    width: 280px;
    height: 280px;
  }
  .grid-index .banner h1 {
    font-size: 1.56rem;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  .grid-index .banner .leer-mas-inicio {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 7;
    justify-self: center;
    align-self: center;
  }
  .grid-index .banner .leer-mas-inicio a {
    font-size: 1rem;
    padding: 18px 40px;
  }
  .grid-index footer .iconos-footer {
    gap: 10px;
  }
  .grid-index footer .iconos-footer img {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 320px) {
  .grid-servicios header .mostrar-menu img {
    width: 50px;
    height: 60px;
  }
  .grid-servicios header .logo img {
    width: 160px;
    height: 25px;
  }
  .grid-servicios .h1-servicios {
    font-size: 1.56rem;
    padding-left: 55px;
  }
  .grid-servicios .container-servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
    gap: 10px 10px;
    grid-auto-flow: row;
  }
  .grid-servicios .container-servicios .item1 {
    grid-area: item1;
  }
  .grid-servicios .container-servicios .item2 {
    grid-area: item2;
  }
  .grid-servicios .container-servicios .item3 {
    grid-area: item3;
  }
  .grid-servicios .container-servicios .item4 {
    grid-area: item4;
  }
  .grid-servicios .container-servicios .item5 {
    grid-area: item5;
  }
  .grid-servicios .container-servicios .item6 {
    grid-area: item6;
  }
  .grid-servicios .container-servicios .cards {
    width: 230px;
    height: 440px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .grid-servicios .container-servicios .cards img {
    width: 200px;
    height: 150px;
  }
  .grid-servicios .container-servicios .cards h3 {
    font-size: 0.87rem;
  }
  .grid-servicios .container-servicios .cards p {
    font-size: 0.62rem;
  }
  .grid-servicios .container-servicios .cards input {
    padding: 10px 20px;
    font-size: 10px;
  }
  .grid-servicios footer .iconos-footer {
    gap: 10px;
  }
  .grid-servicios footer .iconos-footer img {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 320px) {
  .grid-nosotros {
    grid-template-rows: 100px 2300px 70px;
  }
  .grid-nosotros header {
    padding-top: 20px;
  }
  .grid-nosotros header .logo img {
    width: 200px;
    height: 30px;
  }
  .grid-nosotros .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 500px);
    grid-template-areas: "area-1" "area-2" "area-3" "area-4";
    gap: 0px 0px;
    padding-left: 30px;
    padding-right: 40px;
    grid-auto-flow: row;
  }
  .grid-nosotros .container .area-1 {
    padding: 70px 0 0 0;
  }
  .grid-nosotros .container .area-3 {
    padding: 0;
  }
  .grid-nosotros .container .area-3 h2 {
    padding: 0;
  }
  .grid-nosotros .container .area-4 {
    padding: 100px 0 0 0;
  }
  .grid-nosotros footer .iconos-footer {
    gap: 10px;
  }
  .grid-nosotros footer .iconos-footer img {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 320px) {
  .grid-contacto {
    grid-template-rows: 100px 1200px 70px;
  }
  .grid-contacto header .mostrar-menu img {
    width: 40px;
    height: 60px;
  }
  .grid-contacto header .logo img {
    width: 165px;
    height: 25px;
  }
  .grid-contacto .contenedor-contacto h1 {
    font-size: 1.12rem;
  }
  .grid-contacto .contenedor-contacto .telefonos h3 {
    font-size: 1rem;
  }
  .grid-contacto .contenedor-contacto .telefonos .telefonos-1 img {
    width: 30px;
    height: 30px;
  }
  .grid-contacto .contenedor-contacto .telefonos .telefonos-1 p {
    font-size: 0.75rem;
  }
  .grid-contacto .contenedor-contacto .redes-sociales {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  .grid-contacto .contenedor-contacto .redes-sociales h3 {
    font-size: 1rem;
  }
  .grid-contacto .contenedor-contacto .ubicacion {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
    padding-top: 50px;
  }
  .grid-contacto .contenedor-contacto .ubicacion h3 {
    font-size: 1rem;
  }
  .grid-contacto .contenedor-contacto .ubicacion p {
    font-size: 0.87rem;
    padding-right: 30px;
  }
  .grid-contacto .contenedor-contacto .ubicacion .mapa {
    padding-left: 10px;
  }
  .grid-contacto .contenedor-contacto .ubicacion .mapa iframe {
    width: 220px;
    height: 120px;
  }
  .grid-contacto footer .iconos-footer {
    gap: 10px;
  }
  .grid-contacto footer .iconos-footer img {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 320px) {
  .grid-leer-mas {
    grid-template-rows: 100px 2100px 70px;
  }
  .grid-leer-mas header .mostrar-menu img {
    width: 40px;
    height: 60px;
  }
  .grid-leer-mas header .logo img {
    width: 165px;
    height: 25px;
  }
  .grid-leer-mas .contenedor-leer-mas {
    padding: 10px 10px;
  }
  .grid-leer-mas .contenedor-leer-mas h1 {
    font-size: 1.56rem;
    padding: 50px 20px 20px 20px;
    text-align: center;
  }
  .grid-leer-mas .contenedor-leer-mas h2 {
    font-size: 1.25rem;
  }
  .grid-leer-mas footer .iconos-footer {
    gap: 10px;
  }
  .grid-leer-mas footer .iconos-footer img {
    width: 25px;
    height: 25px;
  }
}
footer {
  height: 70px;
  background-color: black;
  grid-area: footer;
}
footer .iconos-footer {
  display: flex;
  color: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
}

/*# sourceMappingURL=style.css.map */
