// Mixin Flex

@mixin flex ($color, $just-self, $just-cont, $align, $text){
    display: flex;
    color: $color;
    justify-self: $just-self;
    justify-content: $just-cont;
    align-self: $align;
    text-align: $text;
}

// Mixin Nav

@mixin nav ($color, $weight, $decoration, $padding){
    color: $color;
    font-weight: $weight;
    text-decoration: $decoration;
    padding: $padding;
}

// Mixin Grid

@mixin grid ($col, $row, $area){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    grid-template-areas: $area;
}

// Mixin Posicionamiento

@mixin position ($cs, $ce, $rs, $re){
    grid-column-start: $cs;
    grid-column-end: $ce;
    grid-row-start: $rs;
    grid-row-end: $re;
}

// Mixin tamaño

@mixin tamaño ($width, $height){
    width: $width;
    height: $height;
}