footer {
    @include tamaño (100%, 100%);
    padding: 20px 0;
    background-color: black;

    .iconos-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img {
            @include tamaño (30px, 30px);
        }
    }
}
