header {
    height: 100px;
    background-color: $color-primario;
    padding: 20px 50px 0 50px;
    @include flex (black, space-between, center);
        a {
            padding-bottom: 20px;
        }
        .menu {
            .inicio {
                color: white;
                text-shadow: 2px 2px black;
            }
            ul {
                list-style: none;
                display: flex;
                gap: 20px;
                li {
                    a {
                        @include nav (black, 700, none, 0 10px);
                        transition: 0.4s;
                        font-family: 'Poppins', sans-serif;
                        text-shadow: 2px 2px rgba(255, 255, 255, 0.233);
                    }
                }
            }
        }
}

.mostrar-menu,
.esconder-menu {
    font-size: 1.87rem;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu {
    order:1;
}

.menu a:hover,
.mostrar-menu:hover
.esconder-menu:hover {
    color: white;
}

#check {
    display: none;
}

.menu {
    .esconder-menu img {
        width: 20px;
        height: 20px;
    } 
}
