.grid-leer-mas {
    @include tamaño (100%, 100%);
    @include grid (100%, auto 100% 70px, "header" "main" "footer");

    .contenedor-leer-mas {
        padding: 0 30px;

        h1 {
            @include flex (white, center, center, none, center);
            font-size: 1.56rem;
            padding-top: 50px;
            font-family: $font-secundaria;
        }

        h2 {
            color: $color-primario;
            text-align: center;
            padding-top: 80px;
            font-family: $font-secundaria;
        }

        p {
            color: $font-color;
            text-align: justify;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .texto-2 {
            padding-top: 70px;
        }
    }
}