.grid-contacto {
    width: 100%;
    height: 100vh;
    @include grid (1fr, 100px 800px 70px, "header""main""footer");
}

.contenedor {
    padding-left: 30px;
    padding-top: 20px;
    .contenedor-contacto {
        @include grid (50% 50%, repeat(8, 100px), none);
        h1 {
            @include position (1, 2, 1, 1);
            font-size: 2.18rem;
            padding-top: 40px;
            color: white;
        }
        .telefonos {
            @include position (1, 2, 2, 3);
            h3 {
                color: $color-primario;
                padding-top: 20px;
                font-size: 1.56rem;
                font-family: 'Bree Serif', serif;
            }
            .telefonos-1 {
                display: flex;
                color: white;
                padding-top: 20px;
                img {
                    width: 45px;
                    height: 45px;
                }
                p {
                    padding-top: 15px;
                    padding-left: 10px;
                }
            }
            
        }
        .redes-sociales {
            @include position (1, 2, 4, 6);
            h3 {
                color: $color-primario;
                padding-top: 50px;
                padding-bottom: 20px;
                font-size: 1.56rem;
                font-family: 'Bree Serif', serif;
            }
            .enlaces {
                .facebook {
                    padding-top: 20px;
                    a {
                        @include redes (5px 5px 5px 10px, white, 700);
                    }
                }
                .linkedin {
                    padding-top: 20px;
                    a {
                        @include redes (5px 5px 5px 10px, white, 700);
                    }
                }
                .instagram {
                    padding-top: 20px;
                    a {
                        @include redes (5px 5px 5px 10px, white, 700);
                    }
                }
                .twitter {
                    padding-top: 20px;
                    a {
                        @include redes (5px 5px 5px 10px, white, 700);
                    }
                }
            }
        }
        .ubicacion {
            @include position (2, 3, 1, 3);
            h3 {
                color: $color-primario;
                padding-top: 50px;
                padding-bottom: 20px;
                font-size: 1.56rem;
                font-family: 'Bree Serif', serif;
            }
            p {
                color: white;
                padding-right: 50px;
                padding-bottom: 50px;
                text-align: justify;
            }
            .mapa {
                iframe {
                    width: 400px;
                    height: 300px;
                    border-radius: 10px;
                    box-shadow: 20px 20px $color-primario;
                }
            }
        }
    }
    
}

