.explore__container {
    .subtitulo__servicios {
        color: $secondary-color;
        margin: 70px 0 50px 0;
        display: flex;
        justify-content: end;
        padding-right: 20px;
        
        h4 {
            font-size: 1rem;
            font-weight: 600;
        }

        .fa-caret-down {
            padding-right: 10px;
        }
    }
}

