.grid-nosotros {
    @include tama単o (100%, 100%);
    @include grid (100%, auto 100% 70px, "header" "main" "footer");

    .container {
        h2 {
            @include flex (none, center, center, none, center);
            font-size: 1.56rem;
            font-family: $font-secundaria;
            padding-bottom: 20px;
        }

        .area-1 {
            color: $font-color;
            align-self: center;
            padding-top: 50px;
            padding-left: 20px;
            padding-right: 20px;

            p {
                font-size: 1.10rem;
                padding-top: 20px;
                text-align: justify;
            }
        }

        .area-2 {
            grid-area: area-2;
            padding-top: 40px;
            justify-self: center;
            text-align: center;

            img {
                @include tama単o (280px, 280px);
            }
        }

        .area-3 {
            @extend .area-1;
            grid-area: area-3;

            .img1-nosotros {
                img {
                    @include tama単o (40px, 40px);
                }
            }
        }

        .area-4 {
            @extend .area-1;
            grid-area: area-4;

            .img2-nosotros {
                img {
                    @include tama単o (40px, 40px);
                }
            }
        }
    }
}