.banner {
    background-image: url(../assets/img/fondo.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    @include grid (100%, repeat(4, 200px), "");

    h1 {
        @include position (1, 2, 3, 4);
        @include flex (white, center, none, center, center);
        padding-bottom: 80px;
        font-family: 'Roboto', sans-serif;
        text-shadow: 2px 2px 2px black;
    }

    .isotipo {
        @include position (1, 2, 1, 3);
        align-self: end;
        justify-self: center;
        padding-right: 10px;

        img {
            @include tamaño (250px, 250px);
            animation: move-vector 4s linear infinite;
        }
    }

    .leer-mas-inicio {
        @include position (1, 2, 3, 4);
        @include flex (none, center, none, self-end, center);

        a {
            padding: 15px 35px;
            border: none;
            font-size: 1.25rem;
            border-radius: 50px;
            margin-top: 40px;
            background-color: $color-primario;
            text-decoration: none;
            color: black;
        }
    }
}

@keyframes move-vector {
    0% {
    transform: translateY(15px);
    }
    50% {
    transform: translateY(0px);
    }
    100% {
    transform: translateY(15px);
    }
}