.contenedor {
    @include tamaño (100%, 1100px);

    .contenedor-contacto {
        padding: 0 10px;

        h1 {
            @include flex (white, center, center, none, center);
            font-size: 1.56rem;
            padding-top: 50px;
            font-family: $font-secundaria;
        }

        .telefonos {
            h3 {
                color: $color-primario;
                font-size: 1.25rem;
                padding-left: 20px;
                padding-top: 80px;
                padding-bottom: 40px;
                font-family: $font-secundaria;
            }

            .telefonos-1 {
                display: flex;
                padding-left: 20px;

                p {
                    color: $font-color;
                    font-weight: 600;
                    padding-left: 20px;
                    padding-top: 10px;
                }

                img {
                    @include tamaño (35px, 35px);
                }
            }
        }

        .redes-sociales {
            h3 {
                color: $color-primario;
                font-size: 1.25rem;
                padding-left: 20px;
                padding-top: 50px;
                padding-bottom: 40px;
                font-family: $font-secundaria;
            }

            .enlaces {
                @include flex (none, none, center, none, center);
                gap: 15px;

                .link-f {
                    display: none;
                }
            }
        }

        .ubicacion {
            h3 {
                color: $color-primario;
                font-size: 1.25rem;
                padding-left: 20px;
                padding-top: 50px;
                padding-bottom: 40px;
                font-family: $font-secundaria;
            }

            p {
                @include flex (white, center, center, none, justify);
                padding: 0 20px;
            }

            .mapa {
                @include flex (none, center, center, none, center);
                padding-top: 50px;

                iframe {
                    @include tamaño (200px, 130px);
                    display: flex;
                    border-radius: 10px;
                    box-shadow: 20px 20px $color-primario;
                }
            }
        }
    }
}