// INDEX

@media (min-width: 1024px){
    .navbar-brand {
        padding: 25px 20px;
    }
    
    .banner {
        @include tamaño (100%, 650px);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        background-position-y: start;

        h1 {
            @include position (1, 2, 1, 2);
            font-size: 2.20rem;
        }

        .isotipo {
            @include position (2, 3, 1, 2);
            align-self: center;
            padding-bottom: 50px;

            img {
                @include tamaño (390px, 390px);
            }
        }

        .leer-mas-inicio {
            @include position (1, 2, 1, 2);
            align-self: center;
            padding-top: 70px;

            a {
                padding: 15px 40px;
                transition: all 0.3s ease;

                &:hover {
                    padding: 18px 45px;
                    background-color: #886435;
                    color: black;
                }
            }
        }
    }
}

// SERVICIOS

@media (min-width: 1024px){
    .container-servicios {
        @include grid (1fr 1fr 1fr, 1fr 1fr, "item1 item2 item3" "item4 item5 item6");
        gap: 20px 20px;
        justify-items: center;
        padding: 20px 40px;
        grid-auto-flow: row;

        h1 {
            @include position (1, 3, 0, 1);
            justify-self: start;
            padding-left: 40px;
            font-size: 2rem;
        }

        .cards {
            @include tamaño (280px, 500px);
            flex-direction: column;
            border-radius: 8px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            margin: 20px;
            text-align: center;
            transition: all 400ms ease;

            img {
                @include tamaño (220px, 150px);
            }
        }

        .item1 {
            grid-area: item1;
        }
        .item2 {
            grid-area: item2;
        }
        .item3 {
            grid-area: item3;
        }
        .item4 {
            grid-area: item4;
        }
        .item5 {
            grid-area: item5;
        }
        .item6 {
            grid-area: item6;
        }
    }
}

// NOSOTROS

@media (min-width: 1024px){
    .grid-nosotros {
        .container {
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: repeat(3, 500px);
            grid-template-areas: 
            "area-1 area-2"
            "area-3 area-3"
            "area-4 area-4"
            ;
    
            .area-1 {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
                padding-right: 50px;
            }
    
            .area-2 {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
                align-self: center;
                padding-left: 20px;
    
                img {
                    width: 300px;
                    height: 300px;
                }
            }
    
            .area-3 {
                display: flex;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                padding-bottom: 40px;
                align-self: start;
                gap: 100px;

                .img1-nosotros {
                    display: flex;
                    padding-left: 40px;
                    justify-self: start;
                    align-self: center;

                    img {
                        width: 120px;
                        height: 120px;
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }
                }
            }
            .area-4 {
                display: flex;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 4;
                align-self: self-end;
                padding-bottom: 75px;
                gap: 100px;

                .img2-nosotros {
                    display: flex;
                    padding-right: 40px;
                    padding-top: 50px;
                    justify-self: end;
                    align-self: center;
                    
                    img {
                        width: 120px;
                        height: 120px;
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 3;
                        grid-row-end: 4;
                    }
                }
            }
        }
    }
}

// CONTACTO

@media (min-width: 1024px){
    .contenedor {
        @include tamaño (100%, 1000px);

        .contenedor-contacto {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: repeat(4, 200px);

            h1 {
                @include position (1, 2, 1, 2);
                align-self: self-start;
                padding-top: 70px;
                font-size: 2rem;
            }

            .telefonos {
                @include position (1, 2, 2, 3);
                align-self: center;
                padding-bottom: 60px;
            }

            .redes-sociales {
                @include position (1, 2, 3, 5);
                padding-top: 50px;

                .enlaces {
                    gap: 20px;

                    .facebook {
                        a {
                            padding-left: 2px;
                        }

                        .link-f {
                            padding-left: 30px;
                        }
                    }

                    .linkedin {
                        a {
                            padding-left: 2px;
                        }

                        .link-f {
                            padding-left: 30px;
                        }
                    }

                    .instagram {
                        a {
                            padding-left: 2px;
                        }

                        .link-f {
                            padding-left: 28px;
                        }
                    }

                    .twitter {
                        .link-f {
                            padding-left: 20px;
                        }
                    }

                    a {
                        font-size: 0.87rem;
                    }
                }
            }

            .ubicacion {
                @include position (2, 3, 1, 5);
                align-self: center;
                padding-top: 30px;

                .mapa {
                    iframe {
                        @include tamaño (300px, 200px);
                    }
                }
            }
        }
    }
}

// LEER MÁS

@media (min-width: 1024px){
    .grid-leer-mas {
        .contenedor-leer-mas {
            h1 {
                font-size: 1.75rem;
                justify-self: start;
                text-align: none;
                justify-content: start;
            }
    
            h2 {
                text-align: start;
                font-size: 1.75rem;
            }
        } 
    } 
}