@media (width < 600px) {
    .explore__container {
        .explore__header {
            flex-direction: column;
        }

        .explore__grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .join__container {
        margin-bottom: 15rem;

        .join__grid {
            width: 100%;
            margin: 0;
            bottom: -20rem;
        }
    }

    .price__container {
        .price__grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .review__container {
        flex-direction: column;
        gap: 0;

        .review__footer {
            flex-direction: column;
        }
    }

    .footer__container {
        grid-template-columns: 1fr 150px;

        .footer__bar {
            text-align: center;
        }
    }
}