// INDEX

@media (min-width: 1366px){
    .banner {
        @include tamaño (100%, 700px);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        background-position-y: center;

        .isotipo {
            padding-left: 100px;

            img {
                @include tamaño (480px, 480px);
            }
        }

        h1 {
            text-align: start;
            font-size: 2.5rem;
            padding-right: 70px;
            padding-bottom: 150px;
        }

        .leer-mas-inicio {
            padding-right: 200px;
            padding-bottom: 50px;
            justify-self: center;
            align-self: center;

            a {
                @include tamaño (200px, 65px);

                &:hover {
                    background-color: #886435;
                    @include tamaño (205px, 70px);
                    color: black;
                }
            }
        }
    }
}

// SERVICIOS

@media (min-width: 1366px){
    .container-servicios {
        h1 {
            font-size: 2.10rem;
        }

        .cards {
            @include tamaño (350px, 600px);

            h3 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1rem;
            }

            img {
                @include tamaño (300px, 200px);
            }
        }
    } 
}

// NOSOTROS

@media (min-width: 1366px){
    .grid-nosotros {
        .container {
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: repeat(3, 500px);
            grid-template-areas: 
            "area-1 area-2"
            "area-3 area-3"
            "area-4 area-4"
            ;
    
            .area-1 {
                @include position (1, 2, 1, 2);
                padding-right: 50px;
            }
    
            .area-2 {
                @include position (2, 3, 1, 2);
                align-self: center;
                padding-left: 50px;
    
                img {
                    @include tamaño (350px, 350px);
                }
            }
    
            .area-3 {
                display: flex;
                @include position (1, 3, 2, 3);
                padding-bottom: 40px;
                align-self: start;
                gap: 150px;

                .img1-nosotros {
                    padding-left: 20px;
                    justify-self: start;
                    align-self: center;

                    img {
                        @include tamaño (150px, 150px);
                        @include position (1, 2, 2, 3);
                    }
                }
            }
            .area-4 {
                display: flex;
                @include position (1, 3, 2, 4);
                align-self: self-end;
                padding-bottom: 75px;
                gap: 150px;

                .img2-nosotros {
                    padding-right: 20px;
                    padding-top: 50px;
                    justify-self: end;
                    align-self: center;
                    
                    img {
                        @include tamaño (150px, 150px);
                        @include position (2, 3, 3, 4);
                    }
                }
            }
        }
    }
}

// CONTACTO

@media (min-width: 1366px){
    .contenedor {
        @include tamaño (100%, 1000px);

        .contenedor-contacto {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: repeat(4, 200px);

            h1 {
                @include position (1, 2, 1, 2);
                align-self: self-start;
                padding-top: 70px;
                font-size: 2.10rem;
            }

            .telefonos {
                @include position (1, 2, 2, 3);
                align-self: center;
                padding-bottom: 80px;
            }

            .redes-sociales {
                @include position (1, 2, 3, 5);
                padding-top: 30px;

                .enlaces {
                    .link-f {
                        font-size: 1rem;
                    }
                }
            }

            .ubicacion {
                @include position (2, 3, 1, 5);
                align-self: center;
                padding-top: 120px;

                .mapa {
                    iframe {
                        @include tamaño (450px, 320px);
                    }
                }
            }
        }
    }
}

// LEER MÁS

@media (min-width: 1366px){
    .grid-leer-mas {
        .contenedor-leer-mas {
            padding: 0 70px;
        }
    } 
}