// INDEX

@media (width < 900px) {
    nav {
        .nav__links {
            position: absolute;
            top: 70px;
            left: 0;
            bottom: 90px;
            margin: 50px 0;
            background-color: $primary-color;
            width: 100%;
            flex-direction: column;
            z-index: 1;
            overflow: hidden;
        }
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .link {
        .link__activo {
            &::after {
                display: none;
            }
        }
    }

    .header__container {
        grid-template-columns: repeat(1, 1fr);

        .header__image {
            grid-area: 1/1/2/2;
        }
    }

    .explore__container {
        .explore__grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }

    .class__container {
        grid-template-columns: repeat(1, 1fr);

        .class__image {
            min-height: 300px;
        }
    }

    .price__container {
        .price__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .review__container {
        gap: 2rem;
    }

    .footer__container {
        grid-template-columns: 1fr 200px;
    }
}

// SERVICIOS

@media (width < 900px) {
    .explore__container {
        .subtitulo__servicios {
            justify-content: center;
        }
    }
}

// ACERCA DE

@media (width < 900px) {
    .acerca__de__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;

        .class__image {
            .class__img-3 {
                margin-left: 0;
            }
        }
    }
}

// CONTACTO

@media (width < 900px) {
    .contenedor-2 {
        margin-top: 50px;
    }
}

